*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
}

:root{
    --light-gray-blue : #b6bdbd;
    --white-one:#ffff;
    --dark-blue:#022737;
    --background:#eaeaea;
    --moss-green:#69923a;
    --deep-tortoise: #006778;
}

body{
    background-color: var(--background);
    min-width: 350px;
}

header{
    background-color: var(--dark-blue);
}

.top{
    max-width: 1350px;
    margin: 0 auto;
}

.top .container {
    display: flex;
    width: 100%; 
    justify-content: flex-end;
    position: relative;
    right: 90px;
}

.top .assistance{
    margin: 10px;
}

.top p{
    margin: 10px 20px;
}
.top p a, header, .navbar{
    color: var(--white-one);
}

header .top i{
    font-size: 1.2em;
}

header .top .userid{
    color: var(--dark-blue);
    background-color: var(--white-one);
    font-weight: bold;
    border-radius: 2rem;
    letter-spacing: 0.5px;
    color: var(--dark-blue);
    margin: 10px;
}

nav img{
    width: 143px;
    height: 46px;
    margin: 10px;
}

nav.navbar{
    background-color: var(--white-one);
}

#help{
    height: 100vh;
    background-color: rgb(245, 241, 241);
    width: 50%;
    position: absolute;
    right: 0;
    display: none;
    z-index: 1;
    transition: 0.5s;
    top: 0;
    padding: 50px;
}

#help h2, #help input, #help form button{
    margin: 20px 10px 20px 0;
}

.required{
    color: red;
}

#help form button{
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

#help label{
    font-weight: bold;
}

#help i{
    font-size: 25px;
    position: absolute;
    right: 20px;
    /* border: 1px solid var(--light-gray-blue); */
    top: 10px;
    padding: 5px;
}

body > nav > div{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-one);
}

.navbar div{
  background-color: var(--white-one);
  display: flex;
  justify-content: space-around;
  
}

nav ul li a{
  color: var(--dark-blue);
  padding: 22px 0;
  font-weight: bold;
  transition: 0.3s;
}



nav .active{
    border-bottom: 4px solid var(--dark-blue);
}

.navbar #check{
  position: absolute;
  display: none;
}   

nav ul{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

nav ul li{
  margin: 10px 10px;
}

.greeting{
    width: 100%;
    padding: 15px 0;
    color: #505050;
    font-size: 14px;
    max-width: 1340px;
    margin: 0 auto;
}

.greeting a{
    color: var(--deep-tortoise);
    text-decoration: underline;
}

blockquote{
    max-width: 1120px;
    margin: 0 auto;
}

section.main{
    background-color: white;
    height: auto;
    width: 100%;
}

body > main > section.main > div{
    max-width: 1350px;
    margin: 0 auto;
}

section.main div:first-child{
    padding: 20px 110px;
    letter-spacing: 0.5px;
}

section > div > div > p > a{
    text-decoration: underline;
    color: var(--dark-blue);
}

section.main h2{
    font-size: 30px;
    color: var(--dark-blue);
    font-weight: lighter;
    margin: 15px 0;
}

section.main div p:nth-child(2){
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
}

section.main div p:nth-child(3){
    padding: 5px 0;
    color: var(--light-gray-blue);
    font-size: 10px;
}

section.main div.caution{
    margin: 15px 0;
    padding: 10px 0;
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid orangered;
}

section.main div.caution .fa.fa-close{
    margin-right: 10px;
}

.fa.fa-info{
    font-size: 10px;
    padding: 2px 5px;
    display: inline;
    border-radius: 50%;
    color: var(--white-one);
    background-color: var(--deep-tortoise);
}

.availablebalance, .currentbalance{
    background-color: var(--white-one);
    margin: 10px;
    padding: 30px;
    width: 373px;
    height: 172px;
}


.balance p{
    margin: 5px 0;
}

.balance .amount{
    font-size: 35px;
    color: var(--moss-green);
    margin-top: 10px;
}

.balance .title{
    font-size: 18px;
    display: inline;
    margin: 0 5px;
    color: var(--dark-blue);
}

.availablebalance button{
    border: none;
    background-color: transparent;
    color: var(--dark-blue);
    font-weight: bold;
    margin-top: 30px;
}

button a{
    color: var(--deep-tortoise)
}

.balancequery{
    background-color: var(--white-one);
    margin: 10px 10px;
    height: 354px;
    width: 736px;
}

.features{
    display: none;
}

.balancequery .headings button{
    border: none;
    cursor: pointer;
    margin: 0;
}


div.headings > button.tablinks.active > p{
    background-color: var(--white-one);
    color: var(--deep-tortoise);
    font-weight: bold;
}

.balancequery .headings button:last-child{
    overflow:auto;
}


section .container{
    display:flex;
    justify-content: center;
}

.container .balancequery .headings{
    display: flex;
    overflow-x: auto;
}

.container .balancequery .headings::-webkit-scrollbar{
    background: transparent;
}

.container .balancequery .headings p{
    padding: 10px 40px;
    align-items: center;
    background-color: #f1f1f1;
    color: #505050;
    font-weight: bold;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    transition: 0.3s;    
}

.container .balancequery .headings #active{
    background-color: var(--white-one);
    border-top: 4px solid var(--deep-tortoise);
    color: var(--deep-tortoise);
}

/* .container .balancequery .headings p:hover{
    background-color: var(--white-one);
    border-top: 4px solid var(--deep-tortoise);
    color: var(--deep-tortoise);
} */

.container .balancequery .features .maintitle{
    color: var(--deep-tortoise);
    text-decoration: underline;
    font-size: 24px;
    margin: 20px;
}

.container .balancequery .info{
    margin: 5px 20px;
}

.container .balancequery .features .data .title{
    color: var(--light-gray-blue);
}

.container .balancequery .features .data .date{
    color: var(--dark-blue);
    font-weight: bold;
}

.container .balancequery .features .data p{
    margin: 9px;
}

.container .balancequery .features .data{
    height: auto;
}

.container .balancequery .features .data .items{
    margin: 0 40px;
    display: inline-block;
}

div.balancequery > div.features > div > div:nth-child(4){
    clear: both;
} 

hr{
    margin: 10px;
}

.balancequery .activity a{
    color: var(--deep-tortoise);
    margin: 25px 20px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

.caution .fa.fa-close{
    color: var(--light-gray-blue);
    font-size: 25px;
}

.learn img{
    width: 123px;
    height: 120px;
    position: absolute;
    right: 7.5%;
    opacity: 0.5;
    bottom: 1px;

}

.accessbuttons{
    margin-left: 6px;
    max-width: 1335px;
    margin: 0 auto;
}

.accessbuttons .elements{
    display: flex;
    margin: 0 95px;
    justify-content: space-between;
}

div.accessbuttons button.active{
    
    background-color: var(--white-one);
}

div.accessbuttons button.active{
    color: var(--deep-tortoise);
}

.accessbuttons .elements button{
    background-color: var(--deep-tortoise);
    border: none;
    margin: 5px;
    height: 50px;
    width: 270px;
    transition: 0.3s;
}

.accessbuttons .elements button:hover{
    background-color: var(--white-one);
    color: var(--deep-tortoise);
    cursor: pointer;
}

.accessbuttons .elements button{
    color: var(--white-one);
    text-decoration: none;
    font-weight: bold;
}

.learn{
    padding: 10px;
    background-color: var(--white-one);
    display: flex;
    max-width: 1140px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.fa.fa-angle-right, .fa.fa-angle-left{
    margin: 10px;
    border-radius: 50%;
    border: solid 0.6px #727272;
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.learn p{
    margin: 10px;
    z-index: 1;
}

.learn p:nth-child(1){
    color: var(--light-gray-blue);
    margin-right: 20px;
}

.learn p:nth-child(2){
    color: var(--deep-tortoise);
    font-size: 20px;
}

.learn div.readmore{
    margin-top: 10px;
    width: 80%;
}

.learn button{
    border: none;
    color: var(--deep-tortoise);
    font-weight: bold;
    background-color: transparent
}









footer{
    margin-top: 20px;
    background-color: var(--dark-blue);
}

.footer .items{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    max-width: 1320px;
    margin: 0 auto;
}

.footer .items .socialmedia img{
    height: 40px;
    width: 120px;
}

.footer .items .socialmedia div{
    color: var(--white-one);
    padding: 10px 0;
}

.footer .links .item {
    display: flex;
}

.footer .links .item ul li{
    list-style: none;
    padding: 5px;
    margin: 0 20px;
}

.footer .links .item ul li a{
    text-decoration: none;
    font-size: 12px;
    color: var(--white-one);
    font-weight: lighter;
}

.footer .searchbar input{
    width: 240px;
    height: 30px;
    border: 1px solid var(--light-gray-blue);
    border-right: none;
    outline: none;
    padding: 5px 0;
}

.footer .searchbar .searchbutton{
    width: 30px;
    height: 30px;
    border: 1px solid var(--light-gray-blue);
    background: var(--deep-tortoise);
    color: #fff;
    cursor: pointer;
    margin-left: -5px;
    border-left: none;
}

.footer .searchbar .head{
    color: var(--white-one);
}

.footer .searchbar div{
    margin: 10px 0;
}

.footer .items .responsive-contact{
    display: none;
}

.footer .items .responsive-contact i{
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--white-one);
    border-radius: 50%;
    margin: 0 5px;
    color: var(--white-one);
}

footer article{
    background-color: var(--light-gray-blue);
    padding: 20px;
}

footer article img{
    height: 46px; 
    width: 162px; 
    display: flex;
    margin: 0 auto;
}

footer article p{
    text-align: center;
}

.navigation.responsive{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    background-color: var(--dark-blue);
    color: var(--white-one);
  }  





/* @media only screen and (max-width: 880px){
    .navbar ul li{
        padding: 0;
        margin: 0 5px;
        font-size: 0.9em;
    }

} */


@media only screen and (max-width: 767px)  {
    .top .container{
        display:flex;
        padding: 10px;
        justify-content: space-around;
        position: static;
    }

    .top p{
        margin: 0;
    }

    header .top i{
        margin: 10px;
    }
    .top .assistance{
        display: none;
    }

    blockquote{
        margin: 0 23px 0 22px;
        font-size: 14px;
    }

    .navigation{
        display: none;
      }
    
      .navbar div{
        display: block;
      }
    
      .navbar #check{
        display: block;
        font-size: 30px;
        right: 20px;
        top: 80px;
        color: var(--dark-blue);
      }
      

    .navbar ul li a{
        transition: 0.3s;
        padding: 0;
        color: var(--white-one);
        line-height: 40px;
    }

    .navbar ul li a:hover{
        border-bottom: 4px solid var(--white-one);
    }

    section.main div:first-child{
        padding: 5%;
    }

    section.main h2{
        padding: 10px 0;
    }

    section.main div.caution button{
        right: 10px;
    }

    section.main div.caution{
        border-top: 6px solid orangered;
        border-left: none;
        padding: 10px 1px;
    }

    section .container{
        display: block;
    }
    
    section .balancequery{
        width: calc(100% - 30px);
        margin-left: 10px;
    }

    .container .balancequery{
        height: auto;
        margin: 10px auto;
        
    }

    .container .balancequery .features .data .items{
        margin: 0 20px;
    }


    .balancequery .activity a{
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    .balancequery .headings .tablinks.active{
        margin: 10px 0;
    }

    .balancequery .headings .tablinks.active p{
        border: none;
    }

    .availablebalance, .currentbalance{
        width: calc(100% - 30px);
        height: 140px;
        align-items: center;
        margin:15px auto;
    }

    .availablebalance button{
        margin:0;
    }

    .accessbuttons{
        margin: 0;
    }

    .accessbuttons .elements{
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .accessbuttons .elements button{
        width: calc(100% - 30px);
    }
    
    .learn{
        background-color: var(--white-one);
        display: block;
        height: auto;
        width: calc(100% - 30px);
    }

    .fa.fa-angle-left, .fa.fa-angle-right{
        display: none;
    }

    .learn img{
        display: none;
    }
    .learn div.readmore{
        width: 100%;
    }

    .caution .fa.fa-close{
        right: 7%;
        font-size: 20px;        
    }

    .footer .items{
        display: block;
        align-items: center;
    }

    .footer .contact{
        display: none;
    }

    .footer .items .socialmedia{
        text-align: center;
    }

    .footer .items .links .item{
        display: flex;
        font-size: 10px;
    }

    .footer .items .searchbar{
        align-items:center;
        justify-content: center;
    }

    .footer .links{
        display: flex;
        justify-content: center;
    }

    .footer .searchbar{
        display: flex;
        flex-direction: column;
    }
    

    .footer .links .item ul li{
        margin:0;
    }

    .footer .links .item ul{
        margin: 20px 0;
    } 
    
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    section .container{
        display: block;
    }

    .navigation{
        display: none;
      }

    .navbar div{
        display: block;
    }

    .navbar ul a{
        color: var(--white-one);
    }

    .navbar #check{
        display: block;
        font-size: 30px;
        right: 60px;
        top: 60px;
        color: var(--dark-blue);
      }

    .top .container{
        right: 40px;
    }
    
    blockquote{
        max-width: calc(100% - 40px);
        margin: 0 auto;
        padding: 0 20px;
        margin-left: 20px;
    }

    section.main div:first-child{
        padding: 20px 50px;
    }

    .balance{
        display: flex;
        justify-content: space-around;
        max-width: 700px;
        margin: auto;
    }

    .currentbalance, .availablebalance{
        padding: 30px 30px;
        margin: 10px 10px;
    }

    .balancequery{
        max-width: calc(100% - 90px);
        margin: 0 auto;
    }

    .learn{
        max-width: calc(100% - 90px);
    }

    .accessbuttons {
       width: 100%;
    }

    .footer .items{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .items li{
        text-align: left;
    }

    .footer .links .item{
        margin: 10px 10px;
    }

    .accessbuttons .elements{
        display: block;
    }

    .accessbuttons .elements button{
        width: calc(100% - 90px);
    }

    .accessbuttons .elements{
        margin: 10px 0;
        text-align: center;
    }

}

@media only screen and (max-width: 1023px){

    nav ul{
        display: none;
    }

    .navbar div{
        
    }
    
}
    