*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
}

:root{
    --light-gray-blue : #b6bdbd;
    --white-one:#ffff;
    --dark-blue:#022737;
    --background:#eaeaea;
    --moss-green:#69923a;
    --deep-tortoise: #006778;
}

body{
    background-color: var(--background);
    min-width: 350px;
}

.top{
    background-color: var(--dark-blue);
}

.top .container {
    display: flex;
    width: 100%; 
    justify-content: flex-end;
    position: relative;
    right: 10%;
}

.top p{
    margin: 10px 20px;
}
.top p a, header, .navbar{
    color: var(--white-one);
}

header .top i{
    font-size: 1.2em;
}

header .top .userid{
    color: var(--dark-blue);
    background-color: var(--white-one);
    border-radius: 2rem;
    padding: 3px;
}

nav img{
    width: 143px;
    height: 46px;
    margin: 10px;
}

.navbar{
  background-color: var(--white-one);
  display: flex;
  justify-content: space-around;
}

nav ul li a{
  color: var(--dark-blue);
  font-weight: bold;
}

nav .active{
    border-bottom: 2px solid var(--dark-blue);
}

.navbar #check{
  position: absolute;
  display: none;
}

nav ul{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

nav ul li{
  margin: 10px 10px;
}

.greeting{
    width: 100%;
    padding: 20px 40px; 
    color: #505050;
}

section.main{
    background-color: white;
    height: auto;
    width: 100%;
}

section.main div:first-child{
    padding: 20px 10%;
}

section > div > div > p > a{
    text-decoration: underline;
    color: var(--dark-blue);
}

section.main h2{
    font-size: 30px;
    color: var(--dark-blue);
    font-weight: lighter;
    margin: 15px 0;
}

section.main div p:nth-child(2){
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
}

section.main div p:nth-child(3){
    padding: 5px 0;
    color: var(--light-gray-blue);
    font-size: 16px;
}

section.main div.caution{
    margin: 15px 0;
    padding: 20px 0;
    height: auto;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    border-left: 4px solid orangered;
}

.availablebalance > p:nth-child(3) > button > a{
    margin-top: 20px;
    font-size: 15px;
}

section.main div.caution p{
    margin: 0 10px;
}

section.main div.caution .fa.fa-times{
    color:rgba(87, 80, 80, 0.404); 
    align-items: center;
    position: absolute;
    right: 0;
}

section.main div.caution button{
    text-decoration: none;
    border: none;
    font-size: 20px;
}

/* amount section */

.availablebalance, .currentbalance{
    background-color: var(--white-one);
    margin: 10px;
    padding: 20px 30px;
    width: 350px;
    height: 160px;
}


.balance p{
    margin: 5px 0;
}

.balance .amount{
    font-size: 35px;
    color: var(--moss-green);
}

.balance .title{
    font-size: 18px;
    color: var(--dark-blue);
}

.availablebalance button{
    border: none;
    background-color: transparent;
    color: var(--dark-blue);
    font-weight: bold;
}

button a{
    color: var(--deep-tortoise)
}

.balancequery{
    background-color: var(--white-one);
    padding: 20px;
    margin: 10px;
}


section .container{
    display:flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 10px auto;
}

.container .balancequery .headings{
    display: flex;
    overflow-x: auto;
}

::-webkit-scrollbar{
    background-color: transparent;
}

.container .balancequery .headings p{
    padding: 10px 20px;
    align-items: center;
    background-color: var(--light-gray-blue);
    color: #505050;
    font-weight: bold;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    width: auto;    
}

.container .balancequery .headings #active{
    background-color: var(--white-one);
    border-top: 2px solid var(--dark-blue);
    color: var(--deep-tortoise);
}

.container .balancequery .features .maintitle{
    color: var(--deep-tortoise);
    text-decoration: underline;
    font-size: 24px;
    margin: 20px;
}

.container .balancequery .info{
    margin: 20px;
}

.container .balancequery .features .data .title{
    color: var(--light-gray-blue);
}

.container .balancequery .features .data .date{
    color: var(--dark-blue);
    font-weight: bold;
}

.container .balancequery .features .data p{
    margin: 6px;
}

.container .balancequery .features .data{
    width: inherit;
    max-width: inherit;
    margin-left: 5%;
}

.container .balancequery .features .data .items{
    margin: 0 20px;
    float: left;
}

div.balancequery > div.features > div > div:nth-child(4){
    clear: both;
} 

hr{
    margin-left: 20px;
}

.balancequery .activity a{
    color: var(--deep-tortoise);
    margin: 20px 20px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    clear: both;
    display: block;
}


.accessbuttons .elements{
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
}

.accessbuttons .elements button{
    background-color: var(--deep-tortoise);
    border: none;
    margin: 5px;
    height: 40px;
    width: 250px;

}

.accessbuttons .elements button a{
    color: var(--white-one);
    text-decoration: none;
}

.learn{
    padding: 10px;
    background-color: var(--white-one);
    display: flex;
    margin: 20px 10%;
}

.learn p{
    margin: 10px;
}

.learn p:nth-child(1){
    color: var(--light-gray-blue);
}

.learn p:nth-child(2){
    color: var(--deep-tortoise);
    font-size: 20px;
}

.learn div.readmore{
    margin-top: 10px;
    width: 80%;
}

.learn button{
    border: none;
    color: var(--deep-tortoise);
    font-weight: bold;
    background-color: transparent
}









footer{
    margin-top: 20px;
    background-color: var(--dark-blue);
}

.footer .items{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.footer .items .firstItem img{
    height: 40px;
    width: 120px;
}

.footer .items .firstItem div{
    color: var(--white-one);
    padding: 10px 0;
}

.footer .secondItem .item {
    display: flex;
}

.footer .secondItem .item ul li{
    list-style: none;
    padding: 5px;
    margin: 0 20px;

}

.footer .secondItem .item ul li a{
    text-decoration: none;
    font-size: 12px;
    color: var(--white-one);
    font-weight: lighter;
}

.footer .thirdItem input{
    width: 240px;
    height: 30px;
}

.footer .thirdItem .head{
    color: var(--white-one);
}

.footer .thirdItem div{
    margin: 10px 0;
}

.footer .items .responsive-contact{
    display: none;
}

.footer .items .responsive-contact i{
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--white-one);
    border-radius: 50%;
    margin: 0 5px;
    color: var(--white-one);
}

/* @media only screen and (max-width: 880px){
    .navbar ul li{
        padding: 0;
        margin: 0 5px;
        font-size: 0.9em;
    }

} */


@media only screen and (max-width: 680px)  {
    .top .container{
        display:flex;
        padding: 10px;
        justify-content: space-around;
        position: static;
    }

    .top p{
        margin: 0;
    }

    .top .assistance{
        display: none;
    }

    .navigation{
        display: none;
      }
    
      .navbar{
        display: block;
      }
    
      .navbar #check{
        display: block;
        font-size: 30px;
        right: 20px;
        top: 65px;
        color: var(--dark-blue);
      }
    
      .navigation.responsive{
        display: flex;
        flex-direction: column;
        line-height: 20px;
        background-color: var(--dark-blue);
        color: var(--white-one);
      }    

    .navbar ul li a{
        transition: 0.3s;
        color: var(--white-one);
        line-height: 40px;
    }

    .navbar ul li a:hover{
        border-bottom: 4px solid var(--white-one);
    }

    section.main div:first-child{
        padding: 5%;
    }

    section.main h2{
        padding: 10px 0;
    }

    section.main div.caution button{
        right: 10px;
    }

    section.main div.caution{
        border-top: 6px solid orangered;
        border-left: none;
    }

    section .container{
        display: block;
    }
    
    section .balancequery{
        height: 450px;
    }


    hr{
        clear: both;
    }

    .balancequery .activity a{
        text-align: center;
    }

    body > section:nth-child(3) > div > div.balancequery > div.features > div > div:nth-child(4){
        clear: none;
    }

    .availablebalance, .currentbalance{
        padding: 20px;
        width: 95%;
    }

    .accessbuttons .elements{
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .accessbuttons .elements button{
        width: 96%
    }
    
    .learn{
        background-color: var(--white-one);
        margin: 0 10px;
        display: block;
    }

    .learn div.readmore{
        width: 100%;
    }

    







    .footer{
        clear: both;
    }

    .footer .items{
        flex-direction: column;
        align-items: center;
    }

    .footer .contact{
        display: none;
    }

    .footer .items .firstItem{
        text-align: center;
    }

    .footer .items .secondItem{
        margin: 30px 0 ;
    }

    .footer .items .thirdItem{
        align-items:flex-start;
    }

    .footer .items .responsive-contact {
        display: block;
    }

    
}

@media only screen and (max-width: 920px)
{
    .navbar ul li{
        padding: 0;
        margin: 0 5px;
    }
}
